<ul class="left-sidebar-content">
  <div ng-if="titleItem" class="left-sidebar-title">{{titleItem}}</div>
  <li ng-repeat="navitem in navitems" ui-sref-active-eq="selected">
    <span class="ng-binding ng-scope" ng-if="!navitem.state">{{::navitem.label}}</span>
    <a ng-if="navitem.state" ui-sref="{{::extendSref(navitem.state)}}">{{::navitem.label}}</a>
    <ul>
      <li ng-repeat="childitem in ::navitem.children" ui-sref-active-eq="selected">
        <a ui-sref="{{::extendSref(childitem.state)}}">{{::childitem.label}}</a>
      </li>
    </ul>
  </li>


  <!--<div class="left-sidebar">-->

  <!--<div class="left-sidebar-title">-->
    <!--Menu <i class="vertical-align" ng-click="toggleLeftMenu()"></i>-->
  <!--</div>-->

  <!--<ul class="left-sidebar-content" ng-if="(isActive('/reports/home') || isActive('/reports/wizard'))">-->
    <!--<li>-->
      <!--Reports-->
    <!--</li>-->
    <!--<li>-->
      <!--<ul>-->
        <!--<li ng-class="{selected: isActive('/reports/home')}"><a data-ng-href="reports/home">Home</a></li>-->
        <!--<li ng-class="{selected: isActive('/reports/wizard')}"><a data-ng-href="reports/wizard">Wizard</a></li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->

<!--</div>-->
</ul>
