<ul class="left-sidebar-content">
  <li ng-repeat="navitem in navitems">
      <span>
          <a ui-sref="{{extendSref(navitem.state)}}">{{navitem.label}}</a>
      </span>
  </li>


<!--<div class="left-sidebar">-->

  <!--<div class="left-sidebar-title">-->
    <!--Menu <i class="vertical-align" ng-click="toggleLeftMenu()"></i>-->
  <!--</div>-->

  <!--<ul class="left-sidebar-content" ng-if="(isActive('/reports/home') || isActive('/reports/wizard'))">-->
    <!--<li>-->
      <!--Reports-->
    <!--</li>-->
    <!--<li>-->
      <!--<ul>-->
        <!--<li ng-class="{selected: isActive('/reports/home')}"><a data-ng-href="reports/home">Home</a></li>-->
        <!--<li ng-class="{selected: isActive('/reports/wizard')}"><a data-ng-href="reports/wizard">Wizard</a></li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->

<!--</div>-->
</ul>
